
.list-wrapper {
    margin: 0 auto;
    width: 64%;
}

.list-item {
    display: flex;
    margin: 8px 0 8px 0;
    border: 1px solid black;
    transition: 0.2s;
}

.list-item:hover {
    box-shadow: 10px 5px 5px #aaa;
}

.list-item .img {
    width: 20%;
    border: 1px solid red;
    display: flex;
}

.list-item .img img {
    width: 100%;
}

.list-item .info {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid blue;
    padding: 5px;
}

.list-item .info .title {
    font-size: 1.4rem;
    font-weight: bold;
}
